.homepage{
    
    position: relative;
    z-index: 99;
    color: white;
    font-size: 44px;
    margin: 20% auto;
    width: 30%;

}
.homepage > span {
    display: block;
    margin-bottom: 20px;
}
.nextPage{
    margin: 0px;
    padding: 0px;
    display: block;
    color: #fff;
    text-decoration: none;
    position: absolute;
    bottom: 30px;
    right: 30px;
}