<div class="section">
    <div class="owl-carousel owl-theme">
        <div class="item">
            <h4 data-animation-in="slideInRight" data-animation-out="animate-out slideInRight">iProgrammer Solutions
                Private Limited</h4>
        </div>
        <div class="item">
            <div class="itemcnt">
                <img data-animation-in="fadeInDown" data-animation-out="animate-out fadeInDown"
                    src="assets/images/lights.png" class="imgbulb" />
                <img data-animation-in="fadeInUp" data-animation-out="animate-out fadeInUp" src="assets/images/men.png"
                    class="imgMen" />

            </div>
        </div>
    </div>
    <a class="nextPage"  [routerLink]="['user-detail']">
        <img src="assets/images/next.png">
    </a>
</div>