.nextPage{
    margin: 0px;
    padding: 0px;
    display: block;
    color: #fff;
    text-decoration: none;
    position: absolute;
    bottom: 30px;
    right: 30px;
}


:host {
    display: block;
    overflow: hidden; /* Hide everything that doesn't fit compoennt */
  }
  .parent {
    height: 100%;
    width: 200%;      /* Make the parent element to take up twice
                         of the component's width */
    display: flex;    /* Align all children in a row */
    div { flex: 1; }  /* Evenly divide width between children */
  }

  .typeForm{
    height: 800px;
  }